@import url('http://fonts.cdnfonts.com/css/space-and-astronomy');

body{
    background-color: #2f5476;
}

a{
    font-size: small;
}

button {
    background-color: #E5825E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: #E8A28C;
}

h1{
    font-family: 'Space and Astronomy', sans-serif;                             
    color: #FFFEFE;
}

.content{
    width: 75%;
    padding: 2%;
    background-color: #e4f5ff;
}

.redtext{
    font-size: xx-large;
    color: red;
}

.name{
    font-size: x-large;
}

.secret{
    color: #2f5470;
}

.logo{
    width: 10%;
    height: 10%;
    vertical-align: middle;
}
