@import url('http://fonts.cdnfonts.com/css/space-and-astronomy');
@font-face {
    font-family: SpaceandAstronomy;
    src: url(./space_and_astronomy.ttf);
}

body{
    background-color: #2f5476;
}

a{
    font-size: small;
}

button {
    background-color: #6494ac;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: #5a7297;
}

h1{
    font-family: 'SpaceandAstronomy', sans-serif;
    color: #FFFEFE;
}

input{
    padding: 10px;
    border-radius: 9px;
}

.centercontainer{
    width: 75%;
    padding: 2%;
    background-color: #e4f5ff;
}

.logo{
    width: 10%;
    height: 10%;
    vertical-align: middle;
}
